<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <springProfile name="local">
        <property resource="logback-local.properties"/>
    </springProfile>
    <springProfile name="product">
        <property resource="logback-product.properties"/>
    </springProfile>
    <Properties>
        <Property name="logFileName">nPrintMallDev</Property>
        <property name="logPath" value="${log.config.path}"/>
        <Property name="consoleLayout">%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable</Property>
        <Property name="fileLayout">%d [%t] %-5level %c(%M:%L) - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}" />
        </Console>
        <RollingFile name="file" fileName="logs/${logFileName}.log" filePattern="${logPath}/logs/${logFileName}.%d{yyyy-MM-dd-hh}.log">
            <PatternLayout pattern="${fileLayout}" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" /><!-- 시간별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy max="5" fileIndex="min" /><!-- 롤링 파일 5개 까지 생성 -->
        </RollingFile>
    </Appenders>

    <Loggers>
        <logger name="com.phiples.printmall" level="debug" additivity="false" >
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </logger>

        <logger name="org.springframework" level="info" additivity="false" >
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </logger>

    </Loggers>
</Configuration>
